<p>header works!</p>
<header>
  <div class="navbar-top">
    <div class="logo">
      <a routerLink="/">BAZAAR</a>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Search" />
      <button class="search-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </button>
    </div>

    <div class="nav-links">
      <ng-container *ngIf="isLoggedIn$ | async; else authLinks">
        <a routerLink="/products" class="sign-in">Products</a>
        <a routerLink="/checkout" class="sign-in">
          Cart ({{ cartCount$ | async }})
        </a>
        <a
          *ngIf="(user$ | async)?.role === 'admin'"
          routerLink="/admin"
          class="sign-in"
          >Admin</a
        >
        <a
          *ngIf="(user$ | async)?.role === 'seller'"
          routerLink="/seller"
          class="sign-in"
          >Seller</a
        >
        <a routerLink="/profile" class="sign-in">Profile</a>
        <button type="button" class="sign-up" (click)="logout()">
          Logout
        </button>
      </ng-container>
      <ng-template #authLinks>
        <a routerLink="/products" class="sign-in">Products</a>
        <a routerLink="/auth/admin-login" class="sign-in">Admin</a>
        <a routerLink="/auth/seller-login" class="sign-in">Seller</a>
        <a routerLink="/auth/register" class="sign-up">Sign up</a>
        <a routerLink="/auth/login" class="sign-in">Sign in</a>
      </ng-template>
    </div>
  </div>

  <div class="navbar-bottom">
    <ul>
      <li><a href="#">All</a></li>
      <li><a href="#">Today's Deals</a></li>
      <li><a href="#">Customer Service</a></li>
      <li><a href="#">Electronics</a></li>
    </ul>
  </div>
</header>
