<header>
  <div class="navbar-top">
    <div class="logo">
      <a routerLink="/">BAZAAR</a>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Search for products, brands and more" />
      <button class="search-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </button>
    </div>

    <div class="nav-links">
      @if (isLoggedIn$ | async) {
      <a routerLink="/products" class="nav-item">Shop</a>

      <a routerLink="/cart" class="nav-item cart-link">
        Cart @if ((cartCount$ | async); as count) {
        <span class="badge">{{ count }}</span>
        }
      </a>

      @if ((user$ | async)?.role === 'admin') {
      <a routerLink="/admin" class="nav-item">Admin</a>
      } @if ((user$ | async)?.role === 'seller') {
      <a routerLink="/seller" class="nav-item">Seller Dashboard</a>
      }

      <a routerLink="/profile" class="nav-item">Profile</a>
      <button type="button" class="btn-logout" (click)="logout()">
        Logout
      </button>
      } @else {
      <a routerLink="/products" class="nav-item">Shop</a>
      <a routerLink="/auth/seller-login" class="nav-item">Become a Seller</a>
      <div class="auth-buttons">
        <a routerLink="/auth/login" class="btn-login">Log In</a>
        <a routerLink="/auth/register" class="btn-register">Sign Up</a>
      </div>
      }
    </div>
  </div>

  <div class="navbar-bottom">
    <ul>
      <li><a routerLink="/products">All Products</a></li>
      <li>
        <a routerLink="/products" [queryParams]="{ sort: 'bestseller' }"
          >Best Sellers</a
        >
      </li>
      <li>
        <a routerLink="/products" [queryParams]="{ category: 'electronics' }"
          >Electronics</a
        >
      </li>
      <li>
        <a routerLink="/products" [queryParams]="{ category: 'fashion' }"
          >Fashion</a
        >
      </li>
      <li>
        <a routerLink="/products" [queryParams]="{ category: 'home' }"
          >Home & Living</a
        >
      </li>
    </ul>
  </div>
</header>
